# CRM API Config (Template)
VITE_CRM_URL=https://inwo.crmcore.me/api/lead_management/api/affiliates
VITE_CRM_TOKEN=your_api_token_here

# Vercel Blob Storage Credentials
BLOB_STORE_ID=
BLOB_READ_WRITE_TOKEN=
